* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --bg-body: #f2f2f2;
    /* header color start */
    --header-color: #fff;
    --header-hotline-blue: #72aaf3;
    --header-hotline-yellow: #d4b26b;
    --header-hotline-yellow2: #be9c58;
    --header-line: #e0e0e0;
    /* header color end */
    /* nofication color start */
    --nofication-card-color: #eb5757;
    /* nofication color end */
    /* banner color start */
    --banner-category: #d4b880;
    --banner-category-text: #333;
    /* banner color end */
    /* text color start */
    --text-category-color: #4f4f4f;
    --text-book-color: #555;
    --text-partner-color: #02010e;
    --text-book-like: #91909a;
    --price-book-color: #aa8b47;
    /* text color end */
    /* border color start */
    --border-category-color: #f2f2f2;
    --border-book-like: #cfe1e9;
    /* border color end */
    /* icon color start */
    --icon-start-color: #FFCE47;
    /* icon color end */
}

body {
    background-color: var(--bg-body) !important;
}


/* common color start */

.cls--yellow {
    color: var(--header-hotline-yellow) !important;
}

.line {
    height: 25px;
    width: 1px;
    margin: 0 20px;
    background: var(--header-line);
}

.alert__styled {
    font-size: 32px;
    line-height: 1.3;
    padding: 50px 0;
    margin: 0;
    color: var(--nofication-card-color);
    text-align: center;
}


/* common color end */


/* header css start */

.wrapper__header {
    width: 100%;
    background-color: var(--header-color);
    line-height: 70px;
}

.header__logo {
    cursor: pointer;
    margin-left: 15px;
}

.header__logo a {
    text-decoration: none;
}

.header__logo a img {
    max-width: 100%;
    height: auto;
}

.header__hotline--blue,
.header__hotline--yellow {
    line-height: initial;
}

.header__hotline--blue {
    color: var(--header-hotline-blue);
}

.header__hotline--yellow {
    color: var(--header-hotline-yellow);
}

.header__hotline--yellow svg {
    color: var(--header-hotline-yellow);
}

.hotline__text {
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
    line-height: 1.7;
    font-weight: 500;
}

.hotline__text a {
    font-size: 16px;
    font-weight: 600;
    color: var(--header-hotline-blue);
    margin: 0;
}

.hotline__text a:hover {
    text-decoration: none;
    color: var(--header-hotline-blue);
}

.header__hotline--blue .hotline__phone {
    color: var(--header-hotline-blue);
}

.header__hotline--blue .hotline__phone p {
    line-height: 1.3;
}

.header__hotline--blue .hotline__phone a {
    text-decoration: none;
    list-style: none;
    color: var(--header-hotline-blue);
}

.header__hotline--blue .hotline__phone a:hover {
    color: var(--header-hotline-blue);
}

.header__button--card a {
    background-color: var(--header-hotline-yellow);
    padding: 10px;
    position: relative;
    border-radius: 5px;
    font-size: 13px;
    margin: 0;
    color: var(--header-color);
}

.header__button--card a:hover {
    color: var(--header-color);
    text-decoration: none;
}

.header__button--card a::after {
    content: '0';
    background-color: var(--nofication-card-color);
    padding: 4px;
    border-radius: 50%;
    top: -10px;
    right: -5px;
    position: absolute;
    line-height: 10px;
    font-size: 11px;
}

.header__button--login a {
    color: var(--header-hotline-yellow);
    text-decoration: none;
    font-size: 14px;
    border: 1px solid var(--header-hotline-yellow);
    padding: 8px 3px;
    border-radius: 5px;
}

.header__button--login a:hover {
    color: var(--header-hotline-yellow2);
    text-decoration: none;
}


/* header css end */


/* search css start */

.category__list {
    background: var(--header-hotline-yellow);
    padding: 20px;
    min-width: 300px;
    font-size: 18px;
    color: var(--banner-category-text);
    font-weight: 400;
    cursor: pointer;
}

.category__list .fa-bars {
    margin-right: 10px;
}

.field__search {
    min-width: 500px;
    margin-left: 30px;
}

.field__search .form__search {
    padding: 0 30px;
    border-radius: 20px;
    height: 40px;
    background: var(--border-category-color);
    margin-right: 20px;
}

.field__search .form__search .input__search {
    outline: 0;
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 13px;
    font-weight: 400;
}

.field__search .form__search .button__search {
    position: relative;
    outline: 0;
    border: none;
    background: transparent;
    font-size: 15px;
    color: var(--text-category-color);
    padding: 0 15px;
    white-space: nowrap;
    border-left: 1px solid var(--header-line);
    cursor: pointer;
}

.icon__button {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background: var(--banner-category-text);
    padding: 10px;
}

.icon__button .fa-search {
    color: var(--header-color);
}

.book__my {
    background-color: var(--header-color);
    padding: 10px 15px;
    border-radius: 5px;
}

.book__my:hover {
    background-color: var(--text-book-color);
    transition: 0.3s all ease-in-out;
}

.book__my:hover svg {
    color: var(--header-color) !important;
}

.book__my a {
    font-size: 11px;
    margin: 0;
    text-decoration: none;
    color: var(--header-hotline-yellow);
}

.book__my a:hover {
    text-decoration: none;
    color: var(--header-hotline-yellow);
}

.wrapper__search {
    background-color: var(--banner-category);
    width: 100%;
    min-height: 70px;
}


/* search css end */


/* banner css start */

.wrapper__banner {
    flex-direction: row;
    width: 100%;
}

.bg__banner {
    background-color: var( --header-hotline-yellow);
    width: 100%;
}

.list__category--item {
    background-color: var(--header-color);
    padding: 5px 20px;
    width: 27%;
}

.ul__category--item {
    list-style: none;
}

.ul__category--item li {
    padding: 10px 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-category-color);
}

.ul__category--item li:hover {
    border-bottom: 1px solid var(--header-hotline-yellow);
    transition: 0.3s all ease-in-out;
    color: var(--header-hotline-yellow);
}

.ul__category--item li a {
    text-decoration: none;
    color: var(--text-category-color);
    font-size: 14px;
}

.fa-book-open {
    margin-right: 5px;
}

.ul__category--item li a:hover {
    text-decoration: none;
    color: var(--header-hotline-yellow);
}

.seemore__category {
    text-align: center;
}

.seemore__category a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--header-hotline-yellow);
}

.seemore__category a:hover {
    color: var(--header-hotline-yellow);
    text-decoration: none;
}

.seemore__category a .fa-bars {
    margin-right: 10px;
}

.wrapper__carousel {
    width: 73%;
    padding: 7px 0 0 0;
    padding-left: 15px;
}

.wrapper__ebook {
    width: 100%;
}

.ebook__one {
    margin-bottom: 10px;
    min-height: 135px;
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

#banner__carousel .owl-nav .owl-prev,
#banner__carousel .owl-nav .owl-next {
    color: var(--header-color);
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--header-color);
    width: 40px;
    height: 40px;
}

#banner__carousel .owl-nav .owl-prev {
    position: absolute;
    left: 20px;
}

#banner__carousel .owl-nav .owl-next {
    position: absolute;
    right: 20px;
}

#banner__carousel .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 14px;
}

#banner__carousel .border__item {
    border-radius: 5px;
}

.wrapper__banner-bottom {
    width: 100%;
}

.wrapper__banner-bottom img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/* banner css end */


/* book hot css start */

.title__book__highlight {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 40px 0;
    color: var(--text-book-color);
}

.wrapper__book__highlights {
    width: 100%;
}

.wrapper__book--item a img {
    border-radius: 5px;
    min-height: 285px;
    width: 100%;
}

.content__book--item {
    font-size: 14px;
    font-weight: 500;
    padding-top: 12px;
    color: var(--text-partner-color);
    margin: 0;
}

.vote__book--item {
    padding: 5px 0;
}

.fa-star {
    color: var(--icon-start-color);
    font-size: 12px;
}

.price__book--item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--price-book-color);
}

#book__highlights .owl-dots,
#book__highlights .owl-dots {
    display: none;
}

#book__highlights .owl-nav .owl-prev,
#book__highlights .owl-nav .owl-next {
    color: var(--header-color);
    font-size: 18px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    border: 1px solid var(--header-color);
    ;
    width: 40px;
    height: 40px;
}

#book__highlights .owl-nav .owl-prev {
    position: absolute;
    left: 20px;
}

#book__highlights .owl-nav .owl-next {
    position: absolute;
    right: 20px;
}


/* book hot css end */


/* book news css start */

.book__news__height {
    min-height: 200px !important;
}

.wrapper__book__news {
    width: 100%;
}

.wrapper__book__news__item {
    background-color: var(--header-color);
    ;
    border-radius: 5px;
    padding: 20px 30px 20px 30px;
}

.wrapper__book__like__item {
    background-color: var(--header-color);
    ;
    border-radius: 5px;
    padding: 20px 30px 20px 30px;
}

.descript__book--item {
    display: block;
    font-size: 14px;
    color: var(--text-book-like);
    line-height: 16px;
    margin: 5px 0 8px 0;
    font-weight: 300;
}

.title__book__news,
.title__book__like {
    font-weight: 500;
    font-size: 24px;
    color: var(--header-hotline-yellow);
    border-bottom: 1px solid var(--border-book-like);
    padding-bottom: 10px;
}


/* book news css end */


/* theme css start */

.wrapper__theme {
    width: 100%;
}

.title__theme {
    font-weight: 700;
    font-size: 24px;
    color: var(--banner-category-text);
    padding: 25px 0;
}

.wrapper__box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -42px;
}

.wrapper__box--item {
    margin-left: 42px;
    display: flex;
    width: 150px;
    height: 92px;
    padding: 20px 8px 0;
    align-items: baseline;
    justify-content: center;
    background-image: url(../images/theme/bg.svg);
    border-radius: 5px;
    margin-bottom: 24px;
}

.wrapper__box--item a {
    text-align: center;
    color: var(--header-color);
    ;
    text-decoration: none;
    line-height: 1.3;
}

.wrapper__box--item a:hover {
    color: var(--header-color);
    ;
    text-decoration: none;
}

.wrapper__box--item a span {
    font-weight: bold;
}


/* theme css end */


/* serve css start */

.wrapper__serve {
    width: 100%;
}

.title__serve {
    font-weight: 700;
    font-size: 24px;
    color: var(--banner-category-text);
    padding: 25px 0;
}

.wrapper__content__serve a {
    text-decoration: none;
    color: var(--text-partner-color);
}

.wrapper__content__serve a img {
    border-radius: 5px;
}

.wrapper__content__serve a:hover {
    text-decoration: none;
    color: var(--text-partner-color);
}

.descript__serve {
    padding: 15px 0;
    font-weight: bold;
    font-size: 16px;
}

.descript__serve:hover {
    color: var(--header-hotline-yellow);
    transition: 0.3s all ease-in-out;
}


/* serve css end */


/* partner css start */

.pad__partner {
    padding: 45px 50px 50px 50px !important;
}

.wrapper__partner--item {
    background-color: var(--header-color);
    ;
    border-radius: 5px;
    padding: 60px;
}

.tite__partner {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-partner-color);
    text-align: center;
    padding: 20px;
}

.margin__partner {
    margin-right: 25px;
}

.wrapper__partner--item a img {
    width: 70px;
    height: 70px;
}

.border__bottom {
    width: 120px;
    height: 2px;
    background-color: var(--header-hotline-yellow);
    position: absolute;
    right: 50%;
    transform: translatex(50%);
}


/* partner css end */


/* responsive css start */

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}


/* responsive css end */